*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
    

}

header{
    min-width: 992px;
    height:100px;
    background-color:#303c6c;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
header h1{
    background:#f4976c;
    width:30%;
    height:80%;
    color:#303c6c;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav{
    display:inline-flex;
    list-style-type:none;;
}

li a{
    color: #f4976c;
    text-decoration: underline;
    padding:5px;
    margin:5px;
    font-size: 20px;
}

.pattern-image{
    min-width: 992px;
    height:180px;
    width:100%;
    margin-bottom: 5px;
    background-image:url("./background.png");

}

main{
    width:992px;
    margin:auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    width: 100%;
    padding:10px;
    margin: 10px;
    display:inline-flex;
    justify-content: center;

}
article h1{
    width:20%;
    display:flex;
    font-size:50px;
    margin-right: 10px;
    color:#303c6c;
    padding-left: 25px;
    
}

article p{
    width:80%;
    padding:0 20px;
    border-left: 5px solid #303c6c;
    font-size: larger;
}

section{
    width:100%;
    display:flex;
    flex-wrap: wrap; 
    margin:20px auto;
}
section h1{
    width: 23%;
    display:flex;
    font-size: 50px;
    border-right:5px solid #303c6c;
    color: #303c6c;
    padding:10px 0px 500px 40px;
}
section div {
    width:70%;
    padding:10px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
    background-image: linear-gradient(30deg, #fbe8a6, #f4976c);
}

.work{
    width:400px;
    height:auto;
    display:flex;
}

#choredoor:hover{
    border: 5px dotted black;
    box-shadow:0 0 5px red;
}
#choredoor:hover::after{
    background-color: #f4976c;
    border-color:red;
    border-style: dashed;
    content:"Chore Door is a mini game that you can click three door in the order of your choice. When you open a door,a random image will show up, if you ran in to the robot image last, then you win, otherwise, you lose.
    Skill used Javascript HTML CSS";

}


footer{
    width:100%;
    margin:200px auto;
}
    