*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

header{
    max-width: 992px;
    height:100px;
    background-color:#303c6c;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
}
header h1{
    background:#f4976c;
    width:30%;
    height:80%;
    color:#303c6c;
    display:flex;
    align-items: center;
    justify-content: center;
}

nav{
    display:inline-flex;
    list-style-type:none;;
}

li a{
    color: #f4976c;
    text-decoration: underline;
    padding:5px;
    margin:5px;
    font-size: 20px;
}

.pattern-image{
    height:180px;
    max-width:992px;
    margin-bottom: 5px;
    background-image:url("./background.png");

}
.myphoto{
    width:200px;
    height:200px;
    border-radius: 100%;

}

main{
    max-width: 992px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
article{
    width: 100%;
    padding:10px;
    margin: 10px;
    display:inline-flex;
    justify-content: center;

}
article h1{
    width:20%;
    display:flex;
    font-size:50px;
    margin-right: 10px;
    color:#303c6c;
    padding-left: 25px;
    
}

article p{
    width:80%;
    padding:0 20px;
    border-left: 5px solid #303c6c;
    font-size: larger;
}

section{
    width:100%;
    display:flex;
    flex-wrap: wrap; 
    margin:20px auto;
}
section h1{
    width: 23%;
    display:flex;
    font-size: 50px;
    border-right:5px solid #303c6c;
    color: #303c6c;
    padding:10px 0px 500px 40px;
}
section div {
    width:70%;
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    justify-content:left;
    background-image: linear-gradient(30deg, #fbe8a6, #f4976c);
    position:relative;
}

.work{
    width:500px;
    height:300px;   
    padding-left: 10px;
    margin-left: 50px;
}

#choredoor:hover,
#box-paper:hover,
#seo:hover,
#sleep-debt:hover,
#tea-cozy:hover{
    box-shadow:10px 0px 50px red;
    transition: all 300ms ease;
    cursor:pointer;
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
    
}
#choredoor:hover::before{
    background-color: #f4976c;
    color:aliceblue;
    font-weight: 500px;
    border-color:#303c6c;
    border-style: dashed;
    content: "Title:Chore Door.   Skill Used:Javascript;HTML;CSS";
}
#box-paper:hover::before{
    background-color: #f4976c;
    color:aliceblue;
    font-weight: 500px;
    border-color:#303c6c;
    border-style: dashed;
    content: "Title:box paper scissors.  Skill Used:Javascript";
}
#seo:hover::before{
    background-color: #f4976c;
    color:aliceblue;
    font-weight: 500px;
    border-color:#303c6c;
    border-style: dashed;
    content: "Title:SEO. Skill Used:HTML;CSS";
}
#sleep-debt:hover::before{
    background-color: #f4976c;
    color:aliceblue;
    font-weight: 500px;
    border-color:#303c6c;
    border-style: dashed;
    content: "Title:Sleep debt calculator. Skill Used:Javascript";
}
#tea-cozy:hover::before{
    background-color: #f4976c;
    color:aliceblue;
    font-weight: 500px;
    border-color:#303c6c;
    border-style: dashed;
    content: "Title:cozy tea. Skill Used:HTML;CSS";
}


footer{
    width:992px;
    height:100px;
    background-color: #303c6c;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-around;

    
}
footer li{
    list-style-type: none;
    padding:10px;
}
#phone{
    background-color: #f4976c;
    color:#303c6c;
}

@media screen and (max-width: 768px) {
    article, section div{
        width:100%;
        flex-wrap: wrap;
    }
    section h1{
        padding: 20px;
        margin-right:10px;
        border-right: none;
    }
    footer{
        flex-wrap: wrap;
    }
}